<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | HELP！！！</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      映画情報のサイトです．僕は普段映画は
      <a href="https://www.amazon.co.jp/ref=nav_logo_prime">Amazon PrimeVideo</a>でみます.
    </p>
  </body>
</html>