<footer class="footer">
  <small>
    The <a href="https://eiga.com/">Movie World</a>
    by <a href="http://www.ai.soc.i.kyoto-u.ac.jp/">Nanto Okawa</a>
  </small>
  <nav>
    <ul>
      <li><a href="https://eiga.com/news/">Movie News</a></li>
    </ul>
  </nav>
</footer>